@import url(https://fonts.googleapis.com/css?family=Raleway:200);

.emotion-label {
    font-family: "Raleway", sans-serif;
    border-radius: 5px ;
    font-weight: 200;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    color: white;
    padding: 15px;
    position: absolute;
    text-transform: lowercase;
} 


