* {
  margin:0;
  padding:0;
}

body {
  background: #f07167;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
  color:  hsl(0, 0%, 100%);
  width: 20rem;
  padding: 5rem;
}

div {
  font-size: 1.5rem;
  line-height: 2.4rem;
}